{% if template.name == 'collection' or template.name == 'product' %}
  <!-- Check Stores -->

  {% raw %}
    <script id="check-stores-tmpl" type="text/x-handlebars-template">
      <h2 class="check-stores__title">In Store Availability</h2>

      <ul class="check-stores__legend">
        <li class="check-stores__legend-item"><span class="check-stores__in-stock">✓</span> In Stock</li>
        <li class="check-stores__legend-item"><span class="check-stores__nearly-gone">●</span> Nearly
                                                                                                      Gone
        </li>
        <li class="check-stores__legend-item"><span class="check-stores__out-of-stock">✗</span> Out of Stock
        </li>
      </ul>

      <table class="check-stores">
        <caption class="check-stores__caption">
          {{#each colors}}
          <div class="check-stores__swatch-wrapper js-check-stores__swatch-wrapper"
               data-color="{{@key}}"
               data-product-id="{{../productId}}">
            <div style="background-image:url({{this}})"
                 title="{{@key}}"
                 class="check-stores__swatch {{#if_eq @key ../currentColor}}check-stores__swatch--selected{{/if_eq}}"
            ></div>
            {{@key}}
          </div>
          {{/each}}
        </caption>

        {{#each branches}}

        {{#if @first}}
        <thead>
        <tr>
          <th></th>

          {{#each sizes}}
          <th>{{@key}}</th>
          {{/each}}
        </tr>
        </thead>
        {{/if}}

        <tr>
          <th>
            {{@key}}
            {{#if tel }}
            <br/><a href="tel:{{tel}}">Tel: {{tel}}</a>
            {{/if}}
          </th>

          {{#each sizes}}
          <td data-size="{{@key}}">{{{renderQty this}}}</td>
          {{/each}}
        </tr>

        {{/each}}
      </table>
    </script>
  {% endraw %}

  {{ 'https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js' | script_tag }}

  {{ 'check-stores.js' | asset_url | script_tag }}

  <!-- End of Check Stores -->
{% endif %}
