 


<div style='display:none'>
  <div id='subscribe_popup'>
    <p class="box-title" style="padding-top:37px;">{{ settings.signup-text }}<p>
    <!-- BEGIN #subs-container -->
    <div id="subs-container" class="clearfix">
<div id="mc_embed_signup" style="margin:0 auto;width:87%;padding-bottom:0px;">
<form action="//juliettehogan.us4.list-manage.com/subscribe/post?u=d3ae47485d28e7979fc0745d1&amp;id=ea4dcb7add" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<input type="email" value="enter your email" onfocus="if (this.value=='enter your email') this.value='';" name="EMAIL" class="required email" id="mce-EMAIL" style="font-family:'brandon-grotesque';font-size:16px;font-weight:300;margin-top:21px;">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_d3ae47485d28e7979fc0745d1_ea4dcb7add" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" onClick="ga('send', 'event', 'signup', 'submit', 'popup');"></div>
    </div>
</form>
</div>
      
      <div class="socialpopup" style="margin-bottom:-10px;">
  
        <p class="box-title" style="text-align:center;">Socialise with us</p>
          <ul id="social-icons" style="text-align:center!important;" class="desktop-3 tablet-6 mobile-3">
          <li style="font-size:10px;"><a href="https://www.facebook.com/pages/Juliette-Hogan/103326363096651" target="_blank"><i class="icon-facebook icon-2x"></i></a></li>
            <li style="font-size:10px;"><a href="http://instagram.com/juliettehogan" target="_blank"><i class="icon-instagram icon-2x"></i></a></li></ul>
        

        
      </div>
      
      
    </div>
  </div>
</div>


