<div class="product-quick-view desktop-12" style="position: relative; z-index: 0">
  
  <div id="product-photos" class="desktop-6 mobile-3">
    
    
    {% for image in product.images %}
    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

    {% if forloop.first %}
      <div class="bigimage desktop-10">
        <img id="{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt='{{ image.alt }}' title="{{ product.title }}"/>
    </div>
	<div id="{{ product.id }}-gallery">	
    {% endif %}
    
        <a href="#" data-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ image | product_img_url: 'master' }}">
          <img class="thumbnail desktop-2" src="{{ image | product_img_url: 'compact' }}" data-image-id="{{ image.id }}" alt="{{ image.alt }}" data-image-id="{{ image.id }}" />
        </a>
    {% endfor %} 
    </div>
  </div>
    
    <script type="text/javascript">
      $("#{{ product.id }}").elevateZoom({
        gallery:'{{ product.id }}-gallery', 
        cursor: 'pointer'
      }); 
    </script>
    
  
  <div id="product-right" class="desktop-6 mobile-3">
    <div id="product-description">
      {% if settings.vendor %}<h3>{{ product.vendor }}</h3>{% endif %}
      <h2>{{ product.title | escape }}</h2>
      <p id="product-price">
        {% if product.available %}
        {% if bold_compare_at_price > bold_price %}
        <span class="product-price" itemprop="price">{{ bold_price | money }}</span>&nbsp;<span class="was">{{ bold_compare_at_price | money }}</span>
        {% else %}
        <span class="product-price" itemprop="price">{{ bold_price | money }}</span>
        {% endif %}
        {% else %}
        <span class="product-price" itemprop="price">Out of Stock</span>
        {% endif %}
      </p>  
      
      {% include 'short-form' %}
      
      <div class="desc">
        {% include 'social' with product %}
        <a href="{{ product.url | within_collection }}" class="full-click">View Full Details</a>
      </div>
    </div>
    
  </div>  
  
</div>

