{% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}


<div class="desktop-12 mobile-3" id="related">
  
  <div class="section-title lines desktop-12"><h2>EXPLORE</h2></div> 
  
  <div class="customNavigation">
    <a class="btn prev"><i class="icon-chevron-left"></i></a>
    <a class="btn next"><i class="icon-chevron-right"></i></a>
  </div> 
  
  <div id="product-carousel">
    {% assign current_product_found = false %}
    {% for prod in collection.products limit: 50 %}
    
    {% include 'bold-product' with prod, hide_action: 'skip' %}
    
    {% if prod.title == product.title %}
    {% assign current_product_found = true %}
    {% else %}
    {% unless current_product_found == false and forloop.last %}
    <div class="product-car" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ bold_price }}">  
      <a href="{{ prod.url | within: collection }}" title="{{ prod.title | escape }}">
        <img class="lazyOwl" data-src="{{ prod.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
      </a>
      
      <div class="product-info"> 
        
        <div class="product-info-inner">  
          <a href="{{ prod.url | within: collection }}"> 
            {% if settings.vendor %}<h4>{{ product.vendor }}</h4>{% endif %}
            <h3>{{ prod.title }}</h3>
          </a> 
          {% unless product.template_suffix == 'bridesmaid' %}          
          <div class="price">
             {% if bold_compare_at_price  > bold_price  %}
            <div class="onsale">{{ bold_price  | money }}</div>
            <div class="was">{{ bold_compare_at_price  | money }}</div>
            {% else %}
            <div class="prod-price">{% if bold_price_varies %} from {{ bold_price_min | money }} - {{ bold_price_max | money }} {% else %}{{ bold_price  | money }}{% endif %}</div>
            {% endif %}	
          </div>
          {% endunless %}
          
        </div>
      </div> 
    </div>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </div>      
</div>

