<form action="/cart/add" method="post" data-money-format="{{ shop.money_format }}" id="product-form-{{ product.id }}">
  {% if product.options.size > 1 %}
  <div class="select">
    <select id="product-select-{{ product.id }}" name='id'>
      {% for variant in product.variants %}
      {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}
     <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
      {% endfor %}
    </select>
  </div>
  {% for option in product.options %}
    {% include 'swatch' with option %}
  {% endfor %}
  {% elsif product.options.size == 1 and bold_variants_size  > 1 %}
  <div class="select">
    <label>{{ product.options[0] }}</label>
    <select id="product-select-{{ product.id }}" name='id'>
      {% for variant in product.variants %}
      {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
      {% endfor %}
    </select>
  </div>
  {% for option in product.options %}
    {% include 'swatch' with option %}
  {% endfor %}
  {% else %}
  <div class="what-is-it">
    {% if product.options.first != 'Title' %}
    <label>{{ product.options.first }}:</label>{% for variant in product.variants %}{% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}<span class="it-is">{{ variant.option1 | escape }}</span>{% endfor %}
    {% endif %}
  </div>
  <div class="product-variants"></div><!-- product variants -->
  <input  type="hidden" id="{{ variant.id }}" name="id" value="{{ product.variants[0].id }}" />
  {% endif %}

  {% if product.available %}
  <div class="product-add">

    <h5>QUANTITY</h5>

    <a class="down" field="quantity"><i class="icon-minus"></i></a>
    <input min="1" type="text" name="quantity" class="quantity" value="1" />
    <a class="up" field="quantity"><i class="icon-plus"></i></a>


    <input type="submit" name="button" class="add" value="Add to Cart" />
  </div>

  <p class="add-to-cart-msg"></p>

  {% endif %}



</form>


<script>
  var callCount = 0;
  // Shopify Product form requirement
  selectCallback = function(variant, selector) {
    var $product = $('#product-' + selector.product.id);


    // BEGIN SWATCHES
    if (variant) {
      for (i=0;i<variant.options.length;i++) {
          jQuery('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]').prop('checked', true);
      }
    }
    // END SWATCHES


    if (variant && variant.available == true) {
      if(variant.compare_at_price > variant.price){
        $('.was', $product).html(Shopify.formatMoney(variant.compare_at_price, $('form', $product).data('money-format')))
      } else {
        $('.was', $product).text('')
      }
      $('.product-price', $product).html(Shopify.formatMoney(variant.price, $('form', $product).data('money-format')))
      $('.add', $product).removeClass('disabled').removeAttr('disabled').val('ADD TO CART');
    } else {
      var message = variant ? "unavailable online" : "unavailable inline";
      $('.was', $product).text('')
      $('.product-price', $product).text(message);
      $('.add', $product).addClass('disabled').attr('disabled', 'disabled').val(message);


    }




    if(callCount > 0){
      if (variant && variant.featured_image) {
        var original_image = $("#{{ product.id }}"), new_image = variant.featured_image;
        Shopify.Image.switchImage(new_image, original_image[0], function (new_image_src, original_image, element) {

          $(element).parents('a').attr('href', new_image_src);
          $(element).attr('src', new_image_src);
          $(element).attr('data-image', new_image_src);
          $(element).attr('data-zoom-image',new_image_src);

          $('.thumbnail[data-image-id="' + variant.featured_image.id + '"]').trigger('click');

        });
      }
    }
    callCount = 1;


  };
</script>

{% if bold_variants_size  > 1 or product.options.size > 1 %}
<script type="text/javascript">


  $(function() {

    $product = $('#product-' + {{ product.id }});
    new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: bold_product_json[{{ product.id }}], onVariantSelected:
    selectCallback{% if template contains 'product'%}, enableHistoryState: true{% endif %} });

     jQuery('.swatch :radio').change(function() {
       var optionIndex = jQuery(this).parents('.swatch').attr('data-option-index');
       var optionValue = jQuery(this).val();
       jQuery('#product-{{ product.id }} .single-option-selector').eq(optionIndex).find('option').filter(function() { return jQuery(this).text() == optionValue }).parent().val(optionValue).trigger('change');
	  });

   });


</script>
{% endif %}
