<div class="share-icons">
  <a href="http://www.facebook.com/sharer.php?u={{ shop.url }}{% if template == 'blog' or template == 'article' %}{{ shop.url}}{{ article.url }}{% else %}{{ product.url }}{% endif %}" class="facebook" target="_blank"><i class="icon-facebook icon-2x"></i></a>
  {% unless product.template_suffix == 'bridesmaid' %}
  <a href="http://twitter.com/home?status={{ shop.url }}{% if template == 'blog' or template == 'article' %}{{ shop.url}}{{ article.url }}{% else %}{{ shop.url}}{{ product.url }}{% endif %} via @{{ settings.twittername }}" title="Share on Twitter" target="_blank" class="twitter"><i class="icon-twitter icon-2x"></i></a>
  {% endunless %}
  {% if template == 'collection' or template == 'product' or template == 'index' or template == 'product.bridesmaid' %}
  <a target="blank" href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media={{ product.images[0] | product_img_url: '1024x1024' | prepend: 'http:' }}" title="Pin This Product" class="pinterest"><i class="icon-pinterest icon-2x"></i></a>
  {% endif %}
</div>