{% if product.metafields.wearWith.productHandles %}
<div class="desktop-12 mobile-3">

    <div class="section-title lines desktop-12"><h2>WEAR WITH</h2></div>

    <div class="customNavigation">
        <a class="btn prev" id="wear-with-prev"><i class="icon-chevron-left"></i></a>
        <a class="btn next" id="wear-with-next"><i class="icon-chevron-right"></i></a>
    </div>

    <div id="wear-with-carousel"></div>
</div>

<script>
    jQuery(function ($) {

        var wearWith = $.trim({{ product.metafields.wearWith.productHandles | json }}).split(/[\s,;]+/);
        if (wearWith.length && wearWith[0] !== '') {

            var carousel = $('#wear-with-carousel');

            // Initialize the carousel
            carousel.owlCarousel({
                itemsCustom: [
                    [0, 1],
                    [450, 2],
                    [600, 2],
                    [700, 3],
                    [1000, 4],
                    [1200, 6],
                    [1400, 6],
                    [1600, 6]
                ],
                lazyLoad   : true,
                autoPlay   : 3000,
                stopOnHover: true
            });
            $("#wear-with-prev").click(function () { carousel.trigger('owl.next'); });
            $("#wear-with-next").click(function () { carousel.trigger('owl.prev'); });

            for (var i = 0; i < wearWith.length; i++) {
                $.getJSON('/products/' + wearWith[i] + '.js', function (product) {

                    var slide = '<div class="product-car" id="prod-' + product.id
                            + '" data-alpha="' + product.title
                            + '" data-price="' + product.price
                            + '"><a href="' + product.url
                            + '" title="' + product.title
                            + '"><img src="' + product.featured_image
                            + '" alt="' + product.title
                            + '"><div class="product-info"><div class="product-info-inner"><a href="' + product.url
                            + '"><h3>' + product.title
                            + '</h3></a><div class="price"><div class="prod-price">' + Shopify.formatMoney(product.price, '{{ shop.money_format }}')
                            + '</div></div></div></div></a></div>';

                    carousel.data('owlCarousel').addItem(slide);
                });
            }
        }

    });
</script>
{% endif %}
