		<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  
  
  <meta charset="utf-8" />
  
  
  {% assign font = "'Arvo', serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  {% endif %}  
  
  {% assign font = "'Glegoo', serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'Lato', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  {% endif %}  
  
  {% assign font = "'Lobster', cursive" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  {% endif %}   

  {% assign font = "'Lobster Two', cursive" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Lobster+Two:400,700' rel='stylesheet' type='text/css'>
  {% endif %}   

  {% assign font = "'Montserrat', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  {% endif %}  

  {% assign font = "'Noticia Text', serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Noticia+Text:400,700' rel='stylesheet' type='text/css'>
  {% endif %}     

  {% assign font = "'Open Sans', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  {% endif %}  
  
  {% assign font = "'Open Sans Condensed', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  {% endif %}
  
  {% assign font = "'Oswald', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  {% endif %}
  
  {% assign font = "'PT Sans', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  {% endif %}    

  {% assign font = "'PT Sans Narrow', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  {% endif %} 
  
  {% assign font = "'Questrial', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  {% endif %}   
  
  {% assign font = "'Raleway', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font == font or settings.title-font == font or settings.caption-font == font %}
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  {% endif %}    
  
  
  <!-- Basic Page Needs
================================================== -->
  
  <title>
    {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  
  
  <!-- CSS
================================================== -->
  
  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'flexslider.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  
  <!--[if IE 8 ]>{{ 'ie8.css' | asset_url | stylesheet_tag }}<![endif]-->
  
  <!--[if IE 7]>
	{{ 'font-awesome-ie7.css' | asset_url | stylesheet_tag }}
  <![endif]-->
  
  <!-- JS
================================================== -->
  
  <script type="text/javascript" src="//use.typekit.net/pcl3icp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  {{ 'theme.js' | asset_url | script_tag }} 
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}  
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {{ 'handlebars.js' | asset_url | script_tag }}
  {{ 'api.js' | asset_url | script_tag }}  
  {{ 'select.js' | asset_url | script_tag }}  
  {{ 'jquery.easing.1.3.js' | asset_url | script_tag }}
  {{ 'jquery.placeholder.js' | asset_url | script_tag }}  
  {{ 'modernizr.custom.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}
  {{ 'jquery.dlmenu.js' | asset_url | script_tag }}  
  {{ 'jquery.flexslider.js' | asset_url | script_tag }}
    {{ 'jquery.anoslide.js' | asset_url | script_tag }}
  
  {% if template contains 'blog' %}
  {{ 'imagesloaded.js' | asset_url | script_tag }}
  {{ 'jquery.masonry.min.js' | asset_url | script_tag }}
  {% endif %}
  
  {{ 'jquery.mousewheel-3.0.6.pack.js' | asset_url | script_tag }}
  
  {{ 'jquery.elevateZoom-2.5.5.min.js' | asset_url | script_tag }}
  
  {{ 'instafeed.js' | asset_url | script_tag }}
  
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Favicons
================================================== -->
  
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
  
  {% if template contains 'customers' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  
  {{ content_for_header }}
  
  
  
  {% if settings.evil-popup %}
  <script type="text/javascript">
    
    // Fancybox Join our mailing list popup
    $(document).ready(function(){
      var check_cookie = $.cookie('mailing_list_popup');
      if(check_cookie == null){
        $.cookie('mailing_list_popup', 'expires_seven_days', { expires: 7 });
        //fire your fancybox here
          $.fancybox({
            href: "#subscribe_popup"
          });
      }
    }); 
    
  </script>
  
  {% else %}
  
  <script type="text/javascript">
    
    $("#subscribe_popup").fancybox({
      helpers: {
        overlay: {
          locked: false
        }
      }
    });    
  </script>
  
  {% endif %}
  
  <link rel="next" href="/next"/>
  <link rel="prev" href="/prev"/>
  
</head>


<body class="gridlock {{ template }}">
 
  <div id="dl-menu" class="dl-menuwrapper">
    <button class="dl-trigger"><i class="icon-align-justify"></i><br />MENU</button>
    <ul class="dl-menu">
      
      {% for link in linklists.main-menu.links %}
      <li {% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}{% endif %}>
        {{ link.title | link_to: link.url }}
        {% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}
        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}       
        <ul class="dl-submenu">
          {% for l in linklists[child_list_handle].links %}
          <li><a href="{{ l.url }}">{{ l.title }}</a>
            
            {% capture child_list_handle %}{{ l.title | handleize }}{% endcapture %}
            {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}       
            <ul class="dl-submenu">
              {% for l in linklists[child_list_handle].links %}
              <li><a href="{{ l.url }}">{{ l.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div><!-- /dl-menuwrapper -->  
  
  <script>
    $(function() {
      $( '#dl-menu' ).dlmenu({
        animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
      });
    });
  </script>  
  
  <div class="page-wrap">
    
    <header>
      <div class="row full-width">
        
        <ul id="social-icons" class="{% if settings.enable-hello %}desktop-3{% else%}desktop-6{% endif %} tablet-6 mobile-3">
          {% if settings.show_facebook %}<li><a href="{{ settings.facebook_url }}" target="_blank"><i class="icon-facebook icon-2x"></i></a></li>{% endif %}
          {% if settings.show_twitter %}<li><a href="http://www.twitter.com/{{ settings.twittername }}" target="_blank"><i class="icon-twitter icon-2x"></i></a></li>{% endif %}
          {% if settings.show_pinterest %}<li><a href="{{ settings.pinterest_url }}" target="_blank"><i class="icon-pinterest icon-2x"></i></a></li>{% endif %}
          {% if settings.show_tumblr %}<li><a href="{{ settings.tumblr_url }}" target="_blank"><i class="icon-tumblr icon-2x"></i></a></li>{% endif %}
          {% if settings.show_youtube %}<li><a href="{{ settings.youtube_url }}" target="_blank"><i class="icon-youtube icon-2x"></i></a></li>{% endif %}
          {% if settings.show_googleplus %}<li><a href="{{ settings.googleplus_url }}" target="_blank"><i class="icon-google-plus icon-2x"></i></a></li>{% endif %}
          {% if settings.show_instagram %}<li><a href="http://instagram.com/{{ settings.instagram-id }}" target="_blank"><i class="icon-instagram icon-2x"></i></a></li>{% endif %}
          {% if settings.show_rss %}<li><a href="{{ shop.url }}/blogs/news.atom" target="_blank"><i class="icon-rss icon-2x"></i></a></li>{% endif %}

        </ul>
        
        {% if settings.enable-hello %}
        <div id="hello" class="desktop-6 tablet-6 mobile-3">
          <p>{{ settings.hello }}</p>
        </div>
        {% endif %}        
        
        <ul id="cart" class="{% if settings.enable-hello %}desktop-3 {% else %}desktop-6{% endif %} tablet-6 mobile-3">
          

          <li class="seeks"><a id="inline" href="#search_popup" class="open_popup"><i class="icon-search icon-2x"></i></a></li>
          <li class="seeks-mobile"><a href="/search"><i class="icon-search icon-2x"></i></a></li>
          {% if shop.customer_accounts_enabled %}
          <li class="cust">
            {% if customer  %}
            <a href="/account"><i class="icon-user icon-2x"></i></a>
            {% else %}
            <a href="/account/login"><i class="icon-user icon-2x"></i></a>
            {% endif %}
          </li>
          {% endif %}
          <li class="cart-overview"><a href="/cart"><i class="icon-shopping-cart icon-2x"></i><span id="item_count">{{ cart.item_count }}</span></a>
            <div id="crt">
              {% include 'shopping-cart' %}
              {% if cart.item_count != 0 %}
              <a class="checkout-link" href="/cart">checkout</a>
              {% endif %}
            </div>
          </li>         
          
        </ul>       
        
      </div>   
    </header>
    
    <div class="row">
      <div id="logo" class="desktop-12 mobile-3">       
        {% if settings.use_logo_image %}
        <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" style="border: 0;"/></a>
        {% else %}
        <a href="/">{{ shop.name }}</a>
        {% endif %}           
      </div> 
    </div>
    
    <div class="clear"></div>
    
    <ul id="main-nav" role="navigation" {% if template == 'index' and settings.display-wide %}style="margin-bottom: 0;"{% else %}{% endif %}> 
      {% for link in linklists.main-menu.links %}
      <li>
        {% if link.handle == 'lookbook' %}
        	<li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
        {% else %}
        	{{ link.title | link_to: link.url }}
        {% endif %}
        {% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}
        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
        <ul class="sub">
          {% for l in linklists[child_list_handle].links %}
          <li><a href="{{ l.url }}">{{ l.title }}</a></li>          
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <div class="clear"></div>

    
    <!-- For Internet Explorer 8 only -->
    
    <div id="ienav" class="row">
      <ul id="nav" class="desktop-12">
        {% for link in linklists.main-menu.links %}
        <li>{{ link.title | link_to: link.url }}
          {% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}
          {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          <ul class="submenu">
            {% for l in linklists[child_list_handle].links %}
            <li><a href="{{ l.url }}">{{ l.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="clear"></div>
    
    <!-- End the 'orrible ie8 hack -->
    
    {% if template != 'index' %}
    <div id="content" class="row">	
      {% if template != 'index' %}
      {% if settings.breadcrumb %}
      {% include 'breadcrumb' %}	
      {% endif %}	
      {% endif %}
      {{ content_for_layout }}  
    </div>
    {% else %}
    {{ content_for_layout }}
    {% endif %}
    
    
    
    
  </div>  <!-- End page wrap for sticky footer -->
  
  <div id="footer-wrapper">	
    <div id="footer" class="row">		
      <div class="credit desktop-12">
        	<div style="border-top:1px solid #444444;border-bottom:1px solid #444444;">
              <h2 style="padding-top:40px;padding-bottom:10px;">Join us for Juliette Hogan updates and events</h2>
              <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" style="margin:0 auto;width:37%;padding-bottom:24px;">
<form action="//juliettehogan.us4.list-manage.com/subscribe/post?u=d3ae47485d28e7979fc0745d1&amp;id=ea4dcb7add" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<input type="email" value="enter your email" onfocus="if (this.value=='enter your email') this.value='';" name="EMAIL" class="required email" id="mce-EMAIL" style="font-family:'brandon-grotesque';font-size:16px;font-weight:300;">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_d3ae47485d28e7979fc0745d1_ea4dcb7add" tabindex="-1" value=""></div>
    <div class="clear submit_container"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
       
        </div>
        
                <div style="padding-top:40px;">
                  <p style="font-family:'brandon-grotesque'; font-weight:300;font-size:12px;"><a href="/blogs/blog">Blog | <a href="https://cdn.shopify.com/s/files/1/0605/9245/files/JH_S17_Lookbook_web_version.pdf?15935501579490445129" target="_blank">Lookbook | <a href="/pages/about-us">About Us</a> | <a href="/pages/contact">Contact Us</p>
        
        </div>
        
        <div style="padding-top:20px;">
        <p style="font-family:'brandon-grotesque'; font-weight:300;font-size:10px;">Copyright &copy; {{ 'now' | date: "%Y" }} Juliette Hogan.<br /><a style="color:#000000" href="http://juliette-hogan-testing.myshopify.com/pages/terms-and-conditions" title="Terms and Conditions">Terms &amp; Conditions</a>  |  <a style="color:#000000" href="http://juliette-hogan-testing.myshopify.com/pages/exchanges-returns-refunds" title="Returns">Returns</a>  |  <a style="color:#000000" href="http://juliette-hogan-testing.myshopify.com/pages/shipping" title="Returns">Shipping</a><br /><br />
          Handcrafted by <a style="color:#000000" href="http://pocketsquare.co.nz" target="_blank" title="POCKET SQUARE">Pocket Square</a></p></div>
      </div>
    </div> 
  </div>
  
  
  {% include 'mailing' %}
  
  <div style='display:none'>
    <div id='search_popup' style='padding:30px;'>
      <p class="box-title">Search this store<p>
      <!-- BEGIN #subs-container -->
      <div id="subs-container" class="clearfix">
        <div id="search">
          <form action="/search" method="get">
            <input type="hidden" name="type" value="product" />
            <input type="text" name="q" id="q" placeholder="search..." />
          </form>
        </div>  
      </div>
    </div>
  </div>    
  
  
  {% raw %}
  <script id="cartTemplate" type="text/x-handlebars-template">
 
  {{#each items}}
    <div id="cart-item">
      <div class="quick-cart-image">
        <a href="{{ this.url }}" title="{{ this.title }}">
          <img src="{{ this.image }}"  alt="{{ this.title }}" />
  </a>
  </div>
      <div class="quick-cart-details">
        <p>
          <a href="{{ this.url }}">{{ this.title }}</a>
  </p>
        <p>{{ this.price }}</p>          
        <p>
          <a class="remove_item" href="#" data-id="{{ this.id }}">Remove</a>
  </p>
  </div>
  </div>
  {{/each}}   
  <a class="checkout-link" href="/cart">checkout</a>

  </script>
  
  {% endraw %}  
  
  
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-2x"></i></a>
  
  
  <!-- Begin Recently Viewed Products -->
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    
    // Including jQuery conditionnally.
    if (typeof jQuery === 'undefined') {
      document.write({{ "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" | script_tag | json }});
      document.write('<script type="text/javascript">jQuery.noConflict();<\/script>');
    }
    
    // Including api.jquery.js conditionnally.
    if (typeof Shopify.resizeImage === 'undefined') {
      document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
    }
    
    //]]>
  </script>
  
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}
  
  {% if template contains 'product' %}
  
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    
    Shopify.Products.recordRecentlyViewed();
    
    //]]>
    
    
    
  </script>
  {% endif %}  
  
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127142210767229";
  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
  </script>
      
  <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '318882415152422'); 
      fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" src="https://www.facebook.com/tr?id=318882415152422&ev=PageView&noscript=1"/>
    </noscript>
  <!-- End Facebook Pixel Code -->
  
  
<input type="hidden" name="_pc_params" value="{{ shop.permanent_domain }}:{{ customer.id }}" />
      
{% include 'check-stores' %}

</body>
</html>
