{% paginate collection.products by 48 %}


<div id="collection-description" class="desktop-12 mobile-3">
  {{ collection.description }}
</div>

<div class="clear"></div>

<a class="show mobile-3" href="#"><i class="icon-align-justify icon-2x"></i></a>

<div class="desktop-3 tablet-6 mobile-3" id="sidebar">
  <h1>{% if collection.handle == 'all' %}All {% endif %}{{ collection.title }}</h1>
<ul>
    <h4>Shop by Category</h4>

    <li><a href="/collections/shop-all" title="">All</a></li>

    <li><a href="/collections/whats-new" title="">New Arrivals</a></li>

    <li><a href="/collections/dresses-jumpsuits" title="">Dresses/Jumpsuits</a></li>

    <li><a href="/collections/tops-tees" title="">Tops/Tees</a></li>

    <li><a href="/collections/jackets-coats" title="">Jackets/Coats</a></li>

    <li><a href="/collections/bottoms" title="">Bottoms</a></li>

    <li><a href="/collections/knitwear" title="">Knitwear</a></li>

    <li><a href="/collections/accessories" title="">Accessories</a></li>

    <li style="font-weight:400;"><a href="/collections/party-dressing" title="">Party Dressing</a></li>

    <li style="font-weight:400;"><a href="/collections/workwear" title="">Workwear</a></li>

    <li style="font-weight:400;"><a href="/collections/juliettes-favs" title="">Juliette's Faves</a></li>




  </ul>

  {% if settings.collection-links-2 %}
  <ul>
    <h4>{{ settings.collection-linklist-2-title }}</h4>
    {% for link in linklists.[settings.collection-side-2].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if settings.collection-links-3 %}
  <ul>
    <h4>{{ settings.collection-linklist-3-title }}</h4>
    {% for link in linklists.[settings.collection-side-3].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if settings.collection-links-4 %}
  <ul>
    <h4>{{ settings.collection-linklist-4-title }}</h4>
    {% for link in linklists.[settings.collection-side-4].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <!-- Start Filtering -->
  {% if settings.filters %}
  <div id="side-filter">
    {% include 'dropdown-filter' %}
  </div>
  {% endif %}

  {% if settings.shop-by-designer %}
  {% if collection.handle == "all" %}
  <ul>
    <h4>{{ settings.shop-by-designer-title }}</h4>
    {% for product_vendor in shop.vendors %}
    <li>{{ product_vendor | link_to_vendor  }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <ul>
    <h4>{{ settings.shop-by-designer-title }}</h4>
    {% for product_vendor in collection.all_vendors %}
    <li class="{{ product_vendor | handelize }}">{{ product_vendor | link_to_vendor }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}

</div>

<div class="desktop-9 tablet-6 mobile-3" id="four-columns">
  <div id="product-loop">

    {% for product in collection.products %}

    {% include 'bold-product' with product, hide_action: 'skip' %}

    <div class="product-index desktop-4 mobile-3{% cycle ' first', '', ' last' %}" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ bold_price }}">

      <div class="product-index-inner">
        {% if product.available %}
        {% for col in product.collections %}
        {% if col.handle == 'new' %}
        <div class="new icn">NEW IN</div>
        {% endif %}

        {% if col.handle == 'pre-order' %}
        <div class="pre-order icn">COMING SOON</div>
        {% endif %}

        {% endfor %}

        {% if bold_price < bold_compare_at_price  %}
        <div class="sale-item icn">ON    SALE</div>
        {% endif %}

        {% else %}
        <div class="so icn">SOLD OUT</div>
        {% endif %}
      </div>


      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
        {% for image in product.images %}
        {% if forloop.first %}
        <img src="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt }}" />
        {% endif %}
        {% endfor %}
      </a>

      <div class="product-info">

        <div class="product-info-inner">
          <a href="{{ product.url | within: collection }}">
            {% if settings.vendor %}<h4>{{ product.vendor }}</h4>{% endif %}
            <h3>{{ product.title }}</h3>
          </a>

          <div class="price">
            {% if bold_price  < bold_compare_at_price   %}
            <div class="onsale">{{ bold_price | money }}</div>
            <div class="was">{{ bold_compare_at_price  | money }}</div>
            {% else %}
            <div class="prod-price">{% if bold_price_varies  %} from {{ bold_price_min  | money }} - {{ bold_price_max  | money }} {% else %}{{ bold_price  | money }}{% endif %}</div>
            {% endif %}
          </div>

          <a data-rel="product-{{ product.id }}" id="inline" href="#product-{{ product.id }}" class="product-modal">Quick View</a>
          <div style="display: none">
            <div class="quick-shop" id="product-{{ product.id }}">
              {% include 'quick-view' %}
            </div>
          </div>
        </div>

      </div>

    </div>

    {% endfor %}

  </div>
</div>




<div id="pagination">

  <span class="count">Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.</span>

  {% if paginate.previous %}
  {{ '<' | link_to: paginate.previous.url }}
  {% endif %}
  {% for part in paginate.parts %}
  {% if part.is_link %}
  {{ part.title | link_to: part.url }}
  {% else %}
  {% if part.title == '&hellip;' %}
  {{ part.title }}
  {% else %}
  <span class="current">{{ part.title }}</span>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if paginate.next %}
  {{ '>' | link_to: paginate.next.url }}
  {% endif %}

</div>

{% endpaginate %}
