{% paginate collection.products by 48 %}

<div class="bridesmaid-banner">{{ 'bridesmaid-banner.jpg' | asset_url | img_tag }}</div>

<div id="collection-description" class="desktop-12 mobile-3">
  {{ collection.description }}  
</div>
<div class="btn-container">
	<span class="read-more-btn">Read More +</span>
</div>

<div class="clear"></div>  


<div class="desktop-12 tablet-6 mobile-3 bridesmaid-collection" id="four-columns">
  <div id="product-loop">
    
    {% for product in collection.products %}
    
    {% include 'bold-product' with product, hide_action: 'skip' %}
    
    <div class="product-index desktop-3 mobile-3{% cycle ' first', '', '', ' last' %}" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ bold_price }}">       
      
      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
        {% for image in product.images %}
        {% if forloop.first %}
        <img src="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt }}" />
        {% endif %}
        {% endfor %}
      </a>
      
      <div class="product-info"> 
        
        <div class="product-info-inner"> 
          <a href="{{ product.url | within: collection }}"> 
            {% if settings.vendor %}<h4>{{ product.vendor }}</h4>{% endif %}
            <h3>{{ product.title }}</h3>
          </a>              
          
          <a data-rel="product-{{ product.id }}" id="inline" href="#product-{{ product.id }}" class="product-modal">Quick View</a>
          <div style="display: none">
            <div class="quick-shop" id="product-{{ product.id }}">
              {% include 'quick-view' %}
            </div>
          </div>  
        </div>
        
      </div>
      
    </div>
    
    {% endfor %} 
    
  </div>
</div>




<div id="pagination">
  
  <span class="count">Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.</span>
  
  {% if paginate.previous %}
  {{ '<' | link_to: paginate.previous.url }}
  {% endif %}
  {% for part in paginate.parts %}
  {% if part.is_link %}
  {{ part.title | link_to: part.url }}
  {% else %}
  {% if part.title == '&hellip;' %}
  {{ part.title }}
  {% else %}
  <span class="current">{{ part.title }}</span>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if paginate.next %}
  {{ '>' | link_to: paginate.next.url }}
  {% endif %}
  
</div>

{% endpaginate %}


<script>
  $(document).ready(function(){
    $('.read-more-btn').click(function() {
      $(this).toggleClass('clicked');
      if($(this).hasClass('clicked')) {
         $('.brides-bottom').slideDown();
         $(this).text('Read less -');
    } else {
    	 $('.brides-bottom').slideUp();
      	 $(this).text('Read more +');
    }
      
    });
  });
</script>