<div id="page" class="desktop-12 tablet-6 mobile-3">
  <h1>Collections</h1>
  {% paginate collections by 30 %}
  
  {% if collections.size > 0 %}
  
  <div class="desktop-12 tablet-6 mobile-3" id="four-per-row">
    <div id="product-loop">  
      
      <div id="product-loop" style="text-align:center;margin:0 30px 10px!important;">
        {% for collection in collections %}
        <div class="product-index desktop-3 mobile-3{% cycle ' first', '', ' mlast', ' last' %}" data-alpha="{{ collection.title }}" style="margin-bottom:30px;">  
          <div class="collection-image">
            <a href="{{ collection.url }}" title="{{ collection_title }}">
              {% if collection.image %}
              {{ collection.image.src | collection_img_url: 'grande' | img_tag: collection_title }}
              {% else %}
              {{ collection.products.first.featured_image | product_img_url: 'grande' | img_tag: collection_title }}
              {% endif %}
            </a>     
          </div>
          
          <div class="product-info-collections">
            <div class="product-info-inner2">
              <a href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">
                <h3>{{ collection.title }}</h3>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
  
  {% else %}
  <p>No Collections found...</p>
  {% endif %}
  
  <div id="pagination">
    
   
    {% if paginate.previous %}
    {{ '<' | link_to: paginate.previous.url }}
    {% endif %}
    {% for part in paginate.parts %}
    {% if part.is_link %}
    {{ part.title | link_to: part.url }}
    {% else %}
    {% if part.title == '&hellip;' %}
    {{ part.title }}
    {% else %}
    <span class="current">{{ part.title }}</span>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if paginate.next %}
    {{ '>' | link_to: paginate.next.url }}
    {% endif %}
  </div>
  
  {% endpaginate %}
</div>

