<div id="page" class="desktop-12 tablet-12 mobile-12">
  <div id="page-content" class="desktop-12 tablet-12 mobile-12">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="rte">{{ page.content }}</div>
  </div>
</div>

