<div class="desktop-12 mobile-3">
  <div class="customNavigation">
    <a class="btn prev"><i class="icon-chevron-left"></i></a>
    <a class="btn next"><i class="icon-chevron-right"></i></a>
  </div>    
  <div id="product-carousel">
    <div class="product-car">
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid1.jpg" alt="Bridesmaid"/>
    </div>
    <div class="product-car">
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid2.jpg" alt="Bridesmaid2"/>
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid3.jpg" alt="Bridesmaid3"/>
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid4.jpg" alt="Bridesmaid4" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid5.jpg" alt="Bridesmaid5" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid6.jpg" alt="Bridesmaid6" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid7.jpg" alt="Bridesmaid7" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid8.jpg" alt="Bridesmaid8" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid9.jpg" alt="Bridesmaid9" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid10.jpg" alt="Bridesmaid10" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid11.jpg" alt="Bridesmaid11" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid12.jpg" alt="Bridesmaid12" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid13.jpg" alt="Bridesmaid13" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid14.jpg" alt="Bridesmaid14" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid15.jpg" alt="Bridesmaid15" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid16.jpg" alt="Bridesmaid16" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid17.jpg" alt="Bridesmaid17" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid18.jpg" alt="Bridesmaid18" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid19.jpg" alt="Bridesmaid19" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid20.jpg" alt="Bridesmaid20" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid21.jpg" alt="Bridesmaid21" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid22.jpg" alt="Bridesmaid22" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid23.jpg" alt="Bridesmaid23" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid24.jpg" alt="Bridesmaid24" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid25.jpg" alt="Bridesmaid25" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid26.jpg" alt="Bridesmaid26" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid27.jpg" alt="Bridesmaid27" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid28.jpg" alt="Bridesmaid28" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid29.jpg" alt="Bridesmaid29" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid30.jpg" alt="Bridesmaid30" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid31.jpg" alt="Bridesmaid31" />
    </div>
    <div class="product-car">      
      <img class="lazyOwl" data-src="https://cdn.shopify.com/s/files/1/0605/9245/files/Bridesmaid32.jpg" alt="Bridesmaid32" />
    </div>


  </div>
</div>      

<div class=“clear”></div>

<div class="rte">{{ page.content }}</div>  <!— Calls content from within the CMS —>




