{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <title>Juliette Hogan</title>
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <script type="text/javascript" src="//use.typekit.net/pcl3icp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="gridlock" style="height:auto;">

  <div id='container' class="row" style="text-align: center;margin-top:120px;">
    
    <div class="branding">
      <a class="logo" href="/" style="max-width: 400px;width: 100%;display: block;margin: 50px auto;">
        <img class="logo-regular" alt="{{ shop.name | escape }}" src="{{ 'logo.png' | asset_url }}">
      </a>
    </div>
    
    <div class='desktop-12 mobile-12'>
      <div id='login'>
        <div>
          {% if shop.password_message and shop.password_message != '' %}
            {{ shop.password_message }}
          {% else %}
            <h1 style="font-size:18px;">We'll be back soon...</h1>
          {% endif %}
        </div>
        <div class="form-wrapper" style="width: 250px;margin: 50px auto;display:none;">
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <label for='password'>Enter store using password: </label>
          <input type='password' name='password' id='password' autofocus />
          <div class="actions">
            <input class="btn" name="commit" type="submit" value="Enter" />
          </div>
        {% endform %}
        </div>
      </div>

      <div id='footer' style='margin-top: 50px;'>
        <div id='owner'><a style="font-size:11px;" href="#">Admin</a></div>
        <div id='powered'>
          <p style="font-size:12px;">© Juliette Hogan 2016. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('password').focus();
    
    $('#owner').click(function(){
      $('.form-wrapper').toggle();
    });
    
  </script>

</body>
</html>
