{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}

<div id="product-{{ product.id }}">

  <!-- For Mobile -->
  <div id="mobile-product" class="desktop-12 mobile-3">
    <div class="flexslider">
      <ul class="slides">
        {% for image in product.images %}
        <li><img src="{{ image.src | product_img_url: '1024x1024' }}" alt="{{ image.alt | escape }}"></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- For Desktop -->

  <div id="product-photos" class="desktop-7 mobile-3">


    {% for image in product.images %}
    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

    {% if forloop.first %}
      <div class="bigimage desktop-10">
        <img id="{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt='{{ image.alt }}' title="{{ product.title }}"/>
    </div>
	<div id="{{ product.id }}-gallery">
    {% endif %}
        <a href="#" data-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ image | product_img_url: 'master' }}">
          <img class="thumbnail desktop-1" src="{{ image | product_img_url: 'compact' }}" data-image-id="{{ image.id }}" alt="{{ image.alt }}" data-image-id="{{ image.id }}" />
        </a>
    {% endfor %}
    </div>
  </div>



     <script type="text/javascript">
       $(document).ready(function () {

         //initiate the plugin and pass the id of the div containing gallery images
 		   $("#{{ product.id }}").elevateZoom({
           gallery:'{{ product.id }}-gallery',
           cursor: 'pointer',
           galleryActiveClass: 'active',
           borderColour: '#eee',
           borderSize: '1'
         });

         //pass the images to Fancybox
         $("#{{ product.id }}").bind("click", function(e) {
           var ez =   $('#{{ product.id }}').data('elevateZoom');
           $.fancybox(ez.getGalleryList());
           return false;
         });

       });
     </script>




  <div id="product-right" class="desktop-5 mobile-3">

    <div id="product-description">

  {% if settings.vendor %}<h3>{{ product.vendor }}</h3>{% endif %}
      <h1>{{ product.title | escape }}</h1>
      {% if settings.subtitle %}<p>{{ page_title }}</p>{% endif %}
      <p id="product-price">
        {% if product.available %}
        {% if bold_compare_at_price > bold_price %}
        <span class="product-price" itemprop="price">{{ bold_price | money }}</span>&nbsp;<span class="was">{{ bold_compare_at_price | money }}</span>
        {% else %}
        <span class="product-price" itemprop="price">{{ bold_price | money }}</span>
        {% endif %}
        {% else %}
      <div class="comingsoonid"><span class="product-price" itemprop="price">unavailable online</span>
        {% endif %}
      </p>



      {% include 'short-form' %}


        {% if product.tags contains 'coming-soon' %}
<div id="sold-out">
  {% form 'contact' %}
    {% if form.posted_successfully? %}
    <p class="accent-text">Thanks! We will notify you when this product becomes available!</p>
    {% else %}
  <p><span style="text-transform: uppercase">E</span>nter your email to be notified by email when {{ product.title }} becomes available.</p>
    {% endif %}
    {% if form.errors %}
    <div class="error feedback accent-text">
      <p>Please provide a valid email address.</p>
    </div>
    {% endif %}
    {% unless form.posted_successfully? %}
    <div id="notify-me-wrapper" class="clearfix" style="">
      {% if customer %}
      <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
      {% else %}
      <input style="float:left; width:100%;" required="required" type="email" name="contact[email]" placeholder="your@email.com" class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
      {% endif %}
      <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title }} becomes available." />
      <input style="float:left;" class="btn styled-submit" type="submit" value="Notify Me" />
    </div>
    {% endunless %}
  {% endform %}
</div>
 {% else %}
 {% endif %}



      <div class="desc">
            <div class="section-title lines"><h2>DETAILS</h2></div>
    <div class="rte">{{ product.description }}</div>


      </div>


    </div>

            <div><table class="valueprop"  style="border:1px solid;margin-top:30px;">
  <tr>
    <td style="padding: 10px 10px 10px 10px;text-align:center;font-size:12px;line-height:16px; ">FREE NZ SHIPPING</td>
    <td style="padding: 10px 10px 10px 10px;text-align:center;font-size:12px;line-height:16px; ">SAME DAY DELIVERY</td>
    <td style="padding: 10px 10px 10px 10px;text-align:center;font-size:12px;line-height:16px; ">CLICK + COLLECT</td>
    <td style="padding: 10px 10px 10px 10px;text-align:center;font-size:12px;line-height:16px; ">SIMPLE RETURNS</td>
  </tr>
</table></div>



    {% if template == 'product' %}
    {% if settings.popups %}
    <ul id="popups">
      <li class="first"><a href="#pop-one" class="fancybox">{{ settings.popup-one-title }}</a></li>
      {% if settings.popup-2 %}<li><a href="#pop-two" class="fancybox">{{ settings.popup-two-title }}</a></li>{% endif %}
      {% if settings.popup-3 %}<li><a href="#pop-three" class="fancybox">{{ settings.popup-three-title }}</a></li>{% endif %}
      {% if settings.popup-4 %}<li class="last"><a href="#pop-four" class="fancybox">{{ settings.popup-four-title }}</a></li>{% endif %}
    </ul>
    <div id="pop-one" style="display: none">{{ pages.[settings.popup-one].content }}</div>
    <div id="pop-two" style="display: none">{{ pages.[settings.popup-two].content }}</div>
    <div id="pop-three" style="display: none">{{ pages.[settings.popup-three].content }}</div>
    <div id="pop-four" style="display: none">{% include 'question' %}</div>
    {% endif %}
    {% endif %}

      <div style="padding-top:20px;text-align:center;">{% include 'social' with product %}</div>


  </div>

   </div>


  <div class="clear"></div>




  <div class="clear"></div>

  {% if collection %}
  {% include 'related-products' %}
  {% endif %}

  <div class="clear"></div>

  {% if collection %}
  <div id="product-navigation" class="desktop-12 mobile-3">
    <span class="backto">
      Back to {{ collection.title | link_to: collection.url }}
    </span>

    <div id="back-forth">
      {% if collection.previous_product %}
      <span class="prev-prod">
        {{ 'Previous Product' | link_to: collection.previous_product }}
        <img id="previous-product-image" />
        {% endif %}
      </span>
      {% if collection.next_product %}
      <span class="next-prod">
        <img id="next-product-image" />
        {{ 'Next Product' | link_to: collection.next_product }}
      </span>
      {% endif %}
    </div>
  </div>

  <script>
    jQuery.getJSON('{{ collection.next_product | append: '.js' }}', function(product) {
      jQuery('#next-product-image').attr('src', product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_small$1'));
    });
    jQuery.getJSON('{{ collection.previous_product | append: '.js' }}', function(product) {
      jQuery('#previous-product-image').attr('src', product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_small$1'));
    });
  </script>

  {% endif %}


</div>
