{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}

<div id="product-{{ product.id }}">
  
  <!-- For Mobile -->
  <div id="mobile-product" class="desktop-12 mobile-3">
    <div class="flexslider">
      <ul class="slides">    
        {% for image in product.images %}
        <li><img src="{{ image.src | product_img_url: '1024x1024' }}" alt="{{ image.alt | escape }}"></li>
        {% endfor %}      
      </ul>
    </div>  
  </div>   
  
  <!-- For Desktop -->
  
  <div id="product-photos" class="desktop-7 mobile-3">
    
    {% for image in product.images %}
    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

    {% if forloop.first %}
      <div class="bigimage desktop-10">
        <img id="{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt='{{ image.alt }}' title="{{ product.title }}"/>
    </div>
	<div id="{{ product.id }}-gallery">	
    {% endif %}    
        <a href="#" data-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ image | product_img_url: 'master' }}">
          <img class="thumbnail desktop-1" src="{{ image | product_img_url: 'compact' }}" data-image-id="{{ image.id }}" alt="{{ image.alt }}" data-image-id="{{ image.id }}" />
        </a>
    {% endfor %} 
    </div>
  </div>
  

  
     <script type="text/javascript">
       $(document).ready(function () {
      
         //initiate the plugin and pass the id of the div containing gallery images
 		   $("#{{ product.id }}").elevateZoom({
           gallery:'{{ product.id }}-gallery',
           cursor: 'pointer', 
           galleryActiveClass: 'active', 
           borderColour: '#eee', 
           borderSize: '1' 
         }); 

         //pass the images to Fancybox
         $("#{{ product.id }}").bind("click", function(e) {  
           var ez =   $('#{{ product.id }}').data('elevateZoom');	
           $.fancybox(ez.getGalleryList());
           return false;
         });	  
      
       }); 
     </script>
  
  
  
  
  <div id="product-right" class="desktop-5 mobile-3">
    
    <div id="product-description">

  	  {% if settings.vendor %}<h3>{{ product.vendor }}</h3>{% endif %}
      <h1>{{ product.title | escape }}</h1>
      {% if settings.subtitle %}<p>{{ page_title }}</p>{% endif %}      
 
      
      <div id="bridesmaid-info">
        {% form 'contact' %}
          {% if form.posted_successfully? %}
          <p class="accent-text">Thanks! We will be in touch soon!</p>
          {% else %}
          <p><span style="text-transform: uppercase">E</span>nquire about this style below</p>
          {% endif %}
          {% if form.errors %}
          <div class="error feedback accent-text">
            <p>Please provide a valid email address.</p>
          </div>
          {% endif %}
          {% unless form.posted_successfully? %}
          <div id="notify-me-wrapper" class="clearfix" style="">
            <p>
              <label>Your Details:</label>
              <input type="text" id="contactFormName" name="contact[name]" placeholder="Name" />
            </p>
            {% if customer %}
            <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
            {% else %}
            <input style="float:left; width:100%;" required="required" type="email" name="contact[email]" placeholder="your@email.com" class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
            {% endif %}
            <p>
              <label>Message:</label>
              <textarea rows="15" cols="150" id="contactFormMessage" name="contact[body]" placeholder="Your Message"></textarea>
            </p>
            <input type="hidden" name="contact[item]" value="Enquiry about {{ product.title }} Bridesmaid dress" />
            <input style="float:left;" class="btn styled-submit" type="submit" value="Send" />         
          </div>
          {% endunless %}
        {% endform %}
      </div>
      
      <div class="desc">
            <div class="section-title lines"><h2>DETAILS</h2></div>  
    		<div class="rte">{{ product.description }}</div> 
      </div>
    </div>
    
    
      <div style="padding-top:20px;text-align:center;">{% include 'social' with product %}</div>

      
  </div>
  
   </div>
  
  
  <div class="clear"></div>
  

  
  
  <div class="clear"></div>
  
  {% if collection %}
  {% include 'related-products' %}
  {% endif %}
  
  <div class="clear"></div>
  
  {% if collection %} 
  <div id="product-navigation" class="desktop-12 mobile-3">
    <span class="backto">
      Back to {{ collection.title | link_to: collection.url }}
    </span>
    
    <div id="back-forth">
      {% if collection.previous_product %}
      <span class="prev-prod"> 
        {{ 'Previous Product' | link_to: collection.previous_product }}
        <img id="previous-product-image" />
        {% endif %}
      </span>
      {% if collection.next_product %}   
      <span class="next-prod">
        <img id="next-product-image" />
        {{ 'Next Product' | link_to: collection.next_product }}
      </span>
      {% endif %}
    </div>
  </div>
  
  <script>
    jQuery.getJSON('{{ collection.next_product | append: '.js' }}', function(product) {
      jQuery('#next-product-image').attr('src', product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_small$1'));
    });
    jQuery.getJSON('{{ collection.previous_product | append: '.js' }}', function(product) {
      jQuery('#previous-product-image').attr('src', product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_small$1'));
    });
  </script>   
  
  {% endif %}  
  
  
</div>