{% paginate search.results by 24 %}
<div id="page" class="desktop-12 tablet-6 mobile-3">
  <h2>Search</h2>


  <div id="search-bar">
    <form action="/search" method="get">
      {% if search.performed %}
      <p>Your search for "{{ search.terms | escape }}" returned {{ search.results_count }} results</p>
      {% endif %}
      <input type="hidden" name="type" value="product" />
      <input type="text" name="q" id="q" placeholder="search..." />
    </form>
  </div>
</div>

{% if search.performed %}

<div class="desktop-12 tablet-6 mobile-3" id="four-per-row">
  <div id="product-loop">
    {% for item in search.results %}

    {% include 'bold-product' with item, hide_action: 'skip' %}

    <div class="product-index desktop-3 mobile-3{% cycle ' first', '', ' mlast', ' last' %}" id="prod-{{ item.id }}" data-alpha="{{ item.title }}" data-price="{{ bold_price }}">

      <div class="product-index-inner">

        {% assign alreadyTagged = false %}
        	{% for col in item.collections %}
                {% if col.handle == 'pre-order' %}
                	<div class="pre-order icn">COMING<br>SOON</div>
        			{% assign alreadyTagged = true %}
                {% endif %}
        	{% endfor %}

        {% unless alreadyTagged %}
          {% if item.available %}
              {% for col in item.collections %}
                  {% if col.handle == 'whats-new' %}
                      <div class="new icn">NEW<br>IN</div>
                  {% endif %}
              {% endfor %}

              {% if item.price < item.compare_at_price %}
                  <div class="sale-item icn">ON<br>SALE</div>
              {% endif %}
          {% else %}
          	<div class="so icn">SOLD OUT<br>ONLINE</div>
          {% endif %}
        {% endunless %}

      </div>


      <a href="{{ item.url }}" title="{{ item.title | escape }}">
        {{ item.featured_image | product_img_url: 'large' | img_tag }}
      </a>


      <div class="product-info">

        <div class="product-info-inner">
          <a href="{{ item.url }}">
            {% if settings.vendor %}<p>{{ item.vendor }}</p>{% endif %}
            <h3>{{ item.title }}</h3>
          </a>
          {% unless item.template_suffix == 'bridesmaid' %}
          <div class="price">
            {% if bold_price < bold_compare_at_price %}
            <div class="onsale">{{ bold_price | money }}</div>
            <div class="was">{{ bold_compare_at_price | money }}</div>
            {% else %}
            <div class="prod-price">{% if bold_price_varies %} from {{ bold_price_min | money }} - {{ bold_price_max | money }} {% else %}{{ bold_price | money }}{% endif %}</div>
            {% endif %}
          </div>
          {% endunless %}

        </div>

      </div>

    </div>
    {% endfor %}
  </div>
</div>

<div id="pagination" class="desktop-12 tablet-6 mobile-3">

  <span class="count">Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.</span>
  {% if paginate.previous %}
  {{ '<' | link_to: paginate.previous.url }}
  {% endif %}
  {% for part in paginate.parts %}
  {% if part.is_link %}
  {{ part.title | link_to: part.url }}
  {% else %}
  {% if part.title == '&hellip;' %}
  {{ part.title }}
  {% else %}
  <span class="current">{{ part.title }}</span>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if paginate.next %}
  {{ '>' | link_to: paginate.next.url }}
  {% endif %}
</div>

{% endif %}

{% endpaginate %}
